{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}
    <div class="container">
        <h1>Student</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Student number</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <th scope="row">{{ student.id }}</th>

                    <td>{{ student.FirstName }}</td>

                    <td>{{ student.LastName }}</td>

                    <td>{{ student.NumEtud }}</td>
                    <td>
                        <a class="btn btn-outline-info" href="{{ path('student_show', {'id': student.id}) }}">Afficher</a>
                        <a class="btn btn-outline-warning" href="{{ path('student_edit', {'id': student.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun étudiant n'existe</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('student_new') }}">Creer un étudiant</a>
    </div>

{% endblock %}
